[submodule "C-Tutorial01-24961"]
	path = C-Tutorial01-24961
	url = https://github.com/AyoItsYas/C-Tutorial01-24961.git
[submodule "C-Tutorial02-24961"]
	path = C-Tutorial02-24961
	url = https://github.com/AyoItsYas/C-Tutorial02-24961.git
[submodule "C-Tutorial03-24961"]
	path = C-Tutorial03-24961
	url = https://github.com/AyoItsYas/C-Tutorial03-24961.git
[submodule "C-Tutorial05-24961"]
	path = C-Tutorial05-24961
	url = https://github.com/AyoItsYas/C-Tutorial05-24961.git
[submodule "C-Tutorial04-24961"]
	path = C-Tutorial04-24961
	url = https://github.com/AyoItsYas/C-Tutorial04-24961.git
